.containerRegister{
    overflow: hidden;/*TIRAR SCROLL*/   
}
/*
.containerRegister header{
    display: flex;
    background-color: blue;
    align-items: center;
    height: 80px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.containerRegister header .back{
    display: flex;
    align-items: center;
    cursor: pointer;
}*/

.containerRegister form{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

.containerRegister form section{
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
}

.containerRegister form .endereco{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 650px;
    text-align: left;/*n sei rick*/
}

.containerRegister form section p{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 30px;
}

.containerRegister form input{
    width: 250px;
    padding: 10px;
    font-size: 25px;
    margin: auto;
    border-radius: 8px;
    border-bottom: 2px solid blue;
    margin-top: 30px;
    margin-bottom: 10px;
}

.containerRegister form .typePeople{
    text-align: center;
}

.containerRegister form .typePeople p{
    font-size: 25px;
}
.containerRegister form .typePeople .radios{
    display: flex;
    width: 250px;
    margin: auto;
    font-size: 20px;
    padding-top: 20px;
}

.containerRegister form .typePeople .radios input{
    transform: scale(2);
}

.containerRegister form .typePeople .radios label{
    font-size: 20px;
    padding: 10px;
}
.containerRegister form .buttonContainer{
    width: 100%;
    grid-column: 2;
}
.containerRegister form .buttonContainer button{
    width: 300px;
    font-size: 30px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
}

@media(max-width:600px){
    .containerRegister header{
        height: 50px;
    }

    .containerRegister header .back h1{
        font-size: 25px;
    }

    .containerRegister form{
        display: block;
        margin-top: 40px;
    }

    .containerRegister form section{
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .containerRegister form section .endereco{
        grid-template-columns: 1fr;
        width: 100%;
        text-align: left;/*n sei rick*/
    }
    
    .containerRegister form section p{
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .containerRegister form input{
        font-size: 20px;
    }

    .containerRegister form section .typePeople label{
        font-size: 25px;
    }

    .containerRegister form .buttonContainer button{
        width: 200px;
        font-size: 25px;
        padding: 10px;
    }
}