.containerCart{
    padding: 3%;
    display: flex;
}
.containerCart ul{
    padding: 20px;
    height: 450px;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    /*novo aprendizado*/
    overflow: scroll;
}

.containerCart ul li{
    list-style: none;
}

.containerCart .total{
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box; 
}

.containerCart .total p{
    font-size: 50px;
    padding-top: 30px;
    margin-left: 20px;
}

.containerCart .total .buttons{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-self: start;
    align-self: end;
}
.containerCart .total .buttons button{
    height:70px;
    font-size: 30px;
    border: 1px solid blue;
    padding: 10px;
    cursor: pointer;
    align-self: center; /*novo aprendizado => em relação a celula do grid*/
    width: 100%;
}

.containerCart .total .buttons button:nth-child(1){
    background-color: rgb(14, 150, 230);
    color: white;
}

.containerCart .total .buttons button:nth-child(2){
    margin-top: 10px;
    background-color: rgb(48, 156, 38);
    color: white;
}

.containerCart .total .buttons button:nth-child(1):hover{
    background-color: blue;
}

.containerCart .total .buttons button:nth-child(2):hover{
    background-color: green;
}

@media(max-width: 1000px){
    .containerCart{
        padding: 0%;
        display: block;
    }

    .containerCart ul{
        width: 100%;
        box-sizing: border-box;
    }

    .containerCart .total{
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .containerCart .total .buttons button{
        width: 80%;
        justify-self: center;
    }
}

@media(max-width:800px){
    .containerCart{
        max-height: 500px;
        overflow: scroll;
    }
    .containerCart ul{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        height: 350px;
        padding: 10px;
    }

    .containerCart .total p{
        font-size: 30px;
        padding-top: 30px;
        margin-left: 20px;
    }
    .containerCart .total{
        box-sizing: border-box;
    }

    .containerCart .total .buttons{
        width: 100%;
    }

    .containerCart .total .buttons button{
        margin-top: 30px;
        width: 90%;
        font-size: 25px;
        border: 1px solid blue;
        padding: 10px;
        cursor: pointer;
        color: blue;
    }
}