.containerAdress {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.containerAdress hr{
    border-top: 5px solid gray;
    border-radius: 8px;
}

.containerAdress span{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerAdress ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 20px;
    align-self: flex-start;
}

.containerAdress ul li{
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    cursor: pointer;
    transition: 0.3s;
}

.containerAdress ul li:hover{
    transform: scale(1.1);
}

.containerAdress ul li p{
    font-size: 20px;
    margin-bottom: 5px;
}

.containerAdress ul li p:nth-child(1){
    font-weight: bold;
    font-size: 25px;
}

@media(max-width: 850px){
    .containerAdress ul{
        grid-template-columns: 1fr 1fr;
    }

    .containerAdress{
        padding-left: 30px;
    }
}

@media(max-width: 630px){
    .containerAdress ul{
        grid-template-columns: 1fr; 
    }
}