.containerLogon{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 120%;
    overflow: hidden;
}

.containerLogon h1{
    padding: 30px;
}

.containerLogon img{
    width: 550px;
    height: 300px;
}

.containerLogon .inputs{
    padding: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.containerLogon .inputs input{
    padding: 20px;
    font-size: 20px;
    border: 0px;
    margin: 10px;
    border-radius: 8px;
    border-bottom: 2px solid blue;
}

.containerLogon .inputs input:hover{
border: 2px solid blue;
}

.containerLogon .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerLogon .buttons button{
    width: 300px;
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
    margin: 8px;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5;
}

.containerLogon .buttons button:hover{
    background-color: blue;
}

.containerLogon .buttons .cadastrar button{
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

.squares li{
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url('../../assets/carrinho-compras.png');
    background-size: cover;
    background-image: none;
    position: absolute;
    top: -100px;
    left: 0px;
    animation: down;
    animation-fill-mode: none;
    overflow: hidden;
    z-index: -1;
    /*background-image: linear-gradient(45deg, red, blue, #ef7330, #706f72);*/
}

.squares li:nth-child(1){
    background-image: url('../../assets/cart.png');
}
.squares li:nth-child(2){
    background-image: url('../../assets/shop.png');
}
.squares li:nth-child(3){
    background-image: url('../../assets/hands.png');
}
.squares li:nth-child(4){
    background-image: url('../../assets/car2.png');
}
.squares li:nth-child(5){
    background-image: url('../../assets/list.png');
}
.squares li:nth-child(6){
    background-image: url('../../assets/carrinho-compras.png');
}
.squares li:nth-child(7){
    background-image: url('../../assets/bag.png');
}
.squares li:nth-child(8){
    background-image: url('../../assets/car3.png');
}

.squares li:nth-child(9){
    background-image: url('../../assets/list.png');
}
.squares li:nth-child(10){
    background-image: url('../../assets/bags.png');
}


@keyframes down {
    0%{
        transform: translateY(-100px);
        opacity: 1;
    }
    70%{
        opacity: 0.9;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateY(100vh) rotate(360deg);
    }
    
}

@media(max-width: 600px){
    .containerLogon h1{
        padding: 30px;
    }
  
    .containerLogon img{
        width: 400px;
        height: 150px;
    }

    .containerLogon .inputs{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .containerLogon .inputs input{
        padding: 10px;
        font-size: 20px;
        margin: 5px;
    }

    .containerLogon .buttons button{
        width: 300px;
        font-size: 20px;
        border-radius: 0px;
        padding: 5px;
        height: 45px;
    }
}