.checkContainer{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    margin: auto;
}

.checkContainer section {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
}

.checkContainer section ul{
    overflow: scroll;
    max-height: 300px;
}

.checkContainer section ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    text-align: left;
}
.checkContainer section ul li img{
    width: 100px;
    height: 100px;
}

.checkContainer section ul li .infoItem{
    max-width: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.checkContainer section ul li .infoItem p:first-child{
    font-size: 20px;
}

.checkContainer section ul li .price{
    max-width: 50px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.checkContainer section:nth-child(2) p:nth-child(2),
.checkContainer section:nth-child(2) h1:nth-child(4),
.checkContainer section:nth-child(2) h1:nth-child(8){
    margin-top: 25px;
}


.checkContainer .buttons{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    grid-column: 1/3;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.checkContainer .buttons button:nth-child(1){
    min-width: 300px;
    align-self: center;
    padding: 20px;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    cursor: pointer;
}


.checkContainer .buttons button:nth-child(2){
    min-width: 300px;
    align-self: center;
    padding: 20px;
    color: blue;
    border: 1px solid blue;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
}

@media(max-width: 720px){
    .checkContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .checkContainer section{
        min-width: 280px;
        max-width: 280px;
    }
}

@media(max-width: 470px){
    .checkContainer{
        margin-left: 0px;
        padding: 0px;
        margin: 0px;
        overflow: scroll;
    }

    .checkContainer section{
        width: 100%;
        margin-top: 20px;
    }
    .checkContainer section ul li img{
        width: 80px;
        height: 80px;
    }

    .checkContainer section ul li .infoItem{
        width: 80px;
    }
}